body {
  background: linear-gradient(to right, rgb(173, 83, 137), rgb(60, 16, 83));
  color: antiquewhite;
  text-align: center;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-size: large;
}
